---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ListOfMovie from '../components/ListOfMovie.astro';
---

<Layout title="Recommended Movies by SAGG">
	<Title/>
	<main class="pb-10 px-6 sm:px-4">
		<ListOfMovie id/>
	</main>
</Layout>

