---
import MoviePoster from "./MoviePoster.astro";
const {
    id,
    title,
    image
} = Astro.props
---

<a class="fade-in-element hover:scale-105 inline-block transition-all contrast-75 hover:contrast-100 hover:shadow-2xl" href={`/${id}`}>
    <MoviePoster title={title} image={image} style={`view-transition-name: movie-move-${id}`}>
</a>
