<header>
    <h1 class="text-4xl font-bold text-violet-300 text-center">
        Recommended 
        <span class="block text-[74px] leading-[72px]">Movies</span>
        <span class="block text-xl leading-[48px]">--by SAGG--</span>
    </h1>
</header>